
/* 공통 속성 */
body {
    max-width: 100%;
    overflow-x: hidden !important;
}

.divider {
    height: 1px;
    background: var(--E5E5E5, #E5E5E5);
    display: none;
}

.container {
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 84px;
}

section h1 {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}

@media (max-width: 768px) {
    .divider {
        display: block;
    }

    .container {
        padding: 24px;
    }

    section h1 {
        color: var(--111111, #111);
        font-family: "Noto Sans KR";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
    }
}

/* 메인배너, 나이키잼, 자크뮈스 */

.main-banner {
    width: 100%;
    margin: 0 auto;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.banner-content {
    text-align: center;
    background-color: white;
}

.banner-content>h1 {
    padding-top: 36px;
    color: var(--111111, #111);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    text-transform: uppercase;
}

.banner-content h2 {
    color: var(--111111, #111);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 36px;
    margin-bottom: -28px;
}

.banner-content>p {
    padding-top: 8px;
    color: var(--111111, #111);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.banner-content>a {
    padding: 6px 15.68px 6px 16px;
    color: var(--FFFFFF, #FFF);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.banner-title {
    font-size: 36px;
    color: #111;
    margin-bottom: 10px;
    font-weight: bold;
}

.banner-subtitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.cta-button {
    background-color: black;
    color: white;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .banner-title {
        font-size: 24px;
    }

    .banner-subtitle {
        font-size: 14px;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .banner-content>h1 {
        padding-top: 24px;
        color: var(--111111, #111);
        font-family: "Noto Sans KR";
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        text-transform: uppercase;
        text-align: left;
    }

    .banner-content h2 {
        padding-top: 24px;
        margin-bottom: 0px;
    }

    .banner-content>p {
        padding-top: 24px;
        color: var(--111111, #111);
        font-family: "Noto Sans KR";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }

    .main-banner img {
        min-height: 457px;
    }
}

/* Win On Air */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header span {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.navigation {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-radius: 24px;
    background: var(--F5F5F5, #F5F5F5);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}

.left {
    background-image: url(../../assets/left.svg);
}

.right {
    background-image: url(../../assets/right.svg);
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.card {
    position: relative;
    flex: 0 0 auto;
    width: calc(33.333% - 14px);
    background-color: white;
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    bottom: 48px;
    left: 48px;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.card-title {
    color: var(--FFFFFF, #FFF);
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.card-button {
    display: inline-block;
    padding: 6px 16px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 30px;
    color: var(--111111, #111);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

@media (max-width: 768px) {
    .card-container {
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        margin-right: 20px;
        width: calc(100% + 24px);
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;        
    }

    .card {
        width: 80%;
        scroll-snap-align: start;
        flex-direction: column;
        display: inline-block;
    }

    .card-title {
        color: var(--111111, #111);
        font-family: "Noto Sans KR";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
    }

    .card-image {
        min-height: 375px;
    }

    .card-button {
        background-color: #111;
        color: var(--FFFFFF, #FFF);
        text-align: center;
        font-family: "Noto Sans KR";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }

    .card-content {
        position: static;
        align-items: flex-start;
    }

    .card:last-child {
        margin-right: 20px;
    }
}

/* Featured */

.featured-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.featured-item {
    position: relative;
    overflow: hidden;
}

.featured-item img {
    width: 100%;
    height: auto;
    display: block;
}

.featured-button {
    position: absolute;
    bottom: 48px;
    left: 48px;
    color: var(--111111, #111);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    border-radius: 30px;
    background: var(--FFFFFF, #FFF);
    text-decoration: none;
    padding: 6px 16px;
}

.featured-grid .featured-button:nth-last-of-type(1) {
    display: none;
}

@media (max-width: 768px) {
    .featured-grid {
        grid-template-columns: 1fr;
    }

    .featured-item {
        display: flex;
        flex-direction: column;
    }

    .featured-button {
        position: static;
        margin-top: 24px;
        align-self: flex-start;
        color: var(--111111, #111);
        font-family: "Noto Sans KR";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        /* 150% */
        background: #fff;
        padding: 0;
    }

    .featured-grid .featured-button:nth-last-of-type(1) {
        display: block;
        color: var(--FFFFFF, #FFF);
        text-align: center;
        font-family: "Noto Sans KR";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        /* 175% */
        border-radius: 30px;
        background: var(--111111, #111);
        padding: 6px 16px;
    }
}

/* Always Iconic */

.slider-container {
    position: relative;
}

.slider {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
    margin-left: -48px;
}

.slide {
    flex: 0 0 auto;
    margin-right: 16px;
    scroll-snap-align: start;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide-title {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.slider-button.prev {
    left: 52px;
}

.slider-button.next {
    right: 52px;
}

@media (max-width: 768px) {
    .nav-button {
        display: none;
    }

    .slider {
        overflow-x: auto;
        width: calc(100% + 24px);
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;        
        margin-left: 0;
    }

    .slider-button {
        display: none;
    }

    .slide:last-child {
        margin-right: 20px;
    }

    .slide {
        width: 80%;
    }

    .slide img {
        width: 100%;
    }
}

/* Shop By Sport */

.sport-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sport-card {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sport-card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
    object-fit: cover;
}

.sport-card-title {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.sport-card-subtitle {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.sport-btn {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 9px;
    border-bottom: 1px solid #111;
}

.sport-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

@media (max-width: 768px) {
    .sport-section .navigation {
        display: none;
    }

    .sport-card-container {
        flex-direction: column;
    }

    .sport-card {
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .sport-card img {
        width: 110px;
        height: 110px;
        order: 2;
        border-radius: 10px;
    }

    .sport-card-content {
        width: 60%;
        order: 1;
    }

    .sport-card-title {
        color: var(--707072, #707072);
        font-family: "Noto Sans KR";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24.5px;
    }

    .sport-card-subtitle {
        color: var(--111111, #111);
        font-family: "Noto Sans KR";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
    }

    .sport-btn {
        display: none;
    }
}

/* 멤버십 */

.membership-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.membership-card {
    flex: 0 0 calc(33.333% - 14px);
    display: flex;
    flex-direction: column;
}

.membership-card img {
    width: 100%;
    height: auto;
    display: block;
}

.membership-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 16px;
}

.membership-card-title {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.membership-card-subtitle {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.membership-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000;
    color: var(--FFFFFF, #FFF);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .membership-card-container {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 20px;
        width: calc(100% + 24px);
    }

    .membership-card {
        flex: 0 0 80%;
        scroll-snap-align: start;
    }

    .membership-card:last-child {
        margin-right: 20px;
    }

    .membership-card img {
        min-height: 375px;
        object-fit: cover;
    }
}