/* 공통 속성 */
.container {              
    padding: 48px 84px;
}

@media (max-width: 768px) {
    .container {
        padding: 48px 20px;
    }
}

/* 타이틀 */
h1 {
    color: var(--111111, #111);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 150% */
    margin-bottom: 48px;
}

/*  검색바 */
.search-container {
    display: flex;
    position: relative;
    margin: 0 auto 52px auto;    
    height: 56px;    
    max-width: 617.33px;
}
.search-input {
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 8px;
border: 1px solid var(--707072, #707072);
}
.search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);    
}

/* 빠른 지원 */
.quick-support {
    margin-bottom: 36px;
}
.quick-support h2 {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 150% */
}
.quick-support p {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding-bottom: 16px;
    background: rgba(255, 255, 255, 0.00);
box-shadow: 0px -1px 0px 0px #CACACB inset;
}
.faq-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);        
    margin-bottom: 84px;
}
.faq-item {
    padding-bottom: 36px;
}
.faq-item h3 {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.faq-item ul {
    list-style-type: none;
}
.faq-item a {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

/* 문의하기 */
.contact-section h2 {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 16px;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px -1px 0px 0px #CACACB inset;
}
.contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    padding: 36px;
}
.contact-item {
    text-align: center;
    margin-top: 36px;
}
.contact-text {
    margin-top: 24px;
}
.contact-item h3 {
    color: var(--111111, #111);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
}
.contact-item p {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

@media (max-width: 768px) {
    .faq-grid, .contact-grid {
        grid-template-columns: 1fr;
        padding: 0;
    }
    .contact-item {
        display: flex;
        align-items: center;        
        gap: 24px;
    }
    .contact-item:first-child {
        margin-top: 0;
    }
    .contact-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .faq-item h3 {
        position: relative;
        padding-right: 20px;
    }
    .faq-item h3::after {
        background: url(../../assets/arrowBottom.svg) no-repeat 0px 0px;      
        content: "";
        display: inline-block;    
        height: 24px;    
        width: 24px;         
        position: absolute;
        right: 0;        
        transition: transform 0.3s ease;
    }
    .faq-item.active h3::after {        
        transform: rotate(180deg);          
    }
    .faq-item {
        background: rgba(255, 255, 255, 0.00);
        box-shadow: 0px -1px 0px 0px #CACACB inset;
    }
    .faq-item ul {
        display: none;
    }
    .faq-item.active ul {
        display: block;
    }
}