input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}

input[type='date'] {
    position: relative;
    width: 100%;
    background: url('../../assets/calendar.svg') no-repeat right 10px center;
    height: auto;
    background-color: #fff;
}
.container {
    max-width: 502px;
    margin: 0 auto;
}

h1 {
    color: #000;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    border-radius: 8px;
    border: 1px solid var(--707072, #707072);
    overflow: hidden;
    flex: 1;
    height: 56px;
    display: flex;
}

input {
    margin: 12px;
    font-size: 16px;
    border: none;
}

.input-validate {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 8px;
    gap: 8px;
}

.input-validate p {
    color: var(--707072, #707072);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 150% */
    display: flex;
    gap: 4px;
}

.name-inputs {
    display: flex;
    gap: 12px;
    margin-top: 60px;
}

.name-inputs input {
    flex: 1;
}

.btn {
    color: var(--FFFFFF, #FFF);
    text-align: center;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 106.667% */
    cursor: pointer;
    width: 100%;
    height: 46px;
    border-radius: 30px;
    background: var(--111111, #111);
    margin-top: 70px;
    border: none;
}

.help-text {
    font-size: 12px;
    color: #8d8d8d;
}

#birthdate {
    color: var(--111111, #111);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}


.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    width: auto;
    margin: 0;
    margin-right: 10px;
}

.checkbox-group label {
    color: var(--111111, #111);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.checkbox-group label a {
    text-decoration: underline;
    font-weight: 700;
}

@media (max-width: 768px) {
    .container {
        padding-left: 36px;
        padding-right: 36px;
    }

    .name-inputs {
        margin: 0;
    }

    .btn {
        margin-top: 48px;
    }
}