/* 공통속성 */
.container {
    display: flex;
    max-width: 1200px; /* 최대크기 설정 */
    margin: 0 auto;
    padding: 24px;
    padding-top: 100px;
}

/* 상품타이틀 모바일 버전 */
.prodcut-mobile {
    display: none;
}

/* 상품이미지 섹션 */
.product-images {
    width: 65%;
    position: sticky;
    top: 24px;
    height: calc(100vh - 40px);
    display: flex;
    align-self: flex-start;
}
.thumbnail-list {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    height: 100%;
    overflow-y: scroll;

}
.thumbnail-list-wrapper {
    position: relative;
    max-height: 668.75px;
}
.thumbnail-list-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20.06px;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
}
.thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 8px;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 4px;
}
.main-image-container {
    width: 100%;
    flex-grow: 1;
    max-height: 668.75px;
    border-radius: 4px;
    overflow: hidden;
}
.main-image {
    width: 100%;
    height: auto;
}

/* 상품설명 섹션 */
.product-info {
    width: 35%;
    padding-left: 32px;
    overflow-y: auto;
}
.product-material {
    color: #D33918;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;    
}
.product-title {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;    
}
.product-category {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;    
}
.product-price {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;    
    padding-top: 32px;
}
.product-related {
    padding-top: 32px;
    display: flex;
    gap: 4px;
}
.related-image {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    object-fit: cover;
}
.product-size {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 32px;
}
.size-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-top: 9px;
}
.size-button {
    height: 48px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--E5E5E5, #E5E5E5);
    background: none;
    cursor: pointer;
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;    
}
.add-to-cart {
    margin-top: 32px;
}
.add-to-cart,
.wishlist {
    width: 100%;
    padding: 15px;
    border: none;
    cursor: pointer;
}
.add-to-cart {
    border-radius: 30px;
    background: var(--111111, #111);
    color: var(--FFFFFF, #FFF);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;    
}
.wishlist {
    color: var(--111111, #111);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;    
    border-radius: 30px;
    border: 1px solid var(--CACACB, #CACACB);
    background: none;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.69px;
}
.product-caption {
    color: var(--111111, #111);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;    
    padding: 24px 21.16px 24px 21.34px;
    background: var(--F5F5F5, #F5F5F5);
    margin-top: 32px;
}
.product-description {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;    
    margin-top: 62px;
}
.toggle-section {
    border-bottom: 1px solid var(--E5E5E5, #E5E5E5);
    background: rgba(255, 255, 255, 0.00);
}
.toggle-section:first-child {
    background: red;
}
.toggle-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;    
    padding: 30px 0;
}
.toggle-content {
    display: none;
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 17px;
}
.product-detail {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;    
    border-bottom: 1.5px solid var(--111111, #111);
    background: rgba(255, 255, 255, 0.00);
    cursor: pointer;
    display: inline-block;
}

/* 장바구니 버튼(모바일) */
.shopping-cart-button {
    display: none;
    color: var(--FFFFFF, #FFF);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;    
    width: 100%;
    height: 67px;
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--111111, #111);
    border: none;
    cursor: pointer;
}

/* 추천 제품 */
.rec-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 29px 24px 90px;
}
.rec-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.rec-title {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;    
}
.rec-slide-buttons {
    display: flex;
    gap: 10px;
}
.rec-slide-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}
.rec-item-gallery {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;
}
.rec-item-card {
    flex: 0 33% auto;
}
.rec-item-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.rec-item-title {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 12px;
}
.rec-item-category {
    color: var(--111111, #707072);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.rec-item-price {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 12px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-top: 60px;
    }
    .product-title {
        order: -1;
        color: var(--111111, #111);
        font-family: "Noto Sans KR";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;        
    }
    .product-category {
        color: var(--111111, #111);
        font-family: "Noto Sans KR";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }
    .size-grid {
        grid-template-columns: repeat(5, 1fr);
        gap: 7px;
    }
    .product-caption {
        display: none;
    }
    .product-images {
        width: calc(100% + 48px);
        margin-left: -24px;
        position: static;
        height: auto;
        flex-direction: column;
    }
    .main-image-container {
        order: -1;
        border-radius: 0;
        padding-top: 24px;
    }
    .thumbnail-list {
        flex-direction: row;
        overflow-x: auto;
        margin-top: 3px;
        margin-right: 0;
        margin-left: -24px;
    }
    .thumbnail {
        margin-bottom: 0;
        width: 125px;
        height: 125px;
    }
    .product-info {
        width: 100%;
        padding-left: 0;
        max-height: none;
        overflow-y: visible;
    }
    .product {
        display: none;
    }
    .prodcut-mobile {
        display: block;
    }
    .product-price {
        padding-top: 12px;
    }
    .toggle-title {
        color: var(--111111, #111);
        font-family: "Noto Sans KR";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
    }
    .toggle-content {
        color: var(--111111, #111);
        font-family: "Noto Sans KR";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .thumbnail-list-wrapper::after {
        display: none;
    }
    .product-related {
        display: none;
    }

    .shopping-cart-button {
        display: block;
    }
    .rec-title {
        color: var(--111111, #111);
        font-family: "Noto Sans KR";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
    }
    .rec-item-card {
        flex: 0 0 auto;
        max-width: 80%;
    }
}